<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
    <script type="text/javascript">
        let updateCustomer = () => {
            let id = "<%= customer.id %>";
            let name = $("#name").val();
            let email = $("#email").val();
            let phone = $("#phone").val();
            let address = $("#address").val();
            $.ajax({ //$.ajax with POST 
                url: "/api/customer", //end point
                type: "PUT",
                data: { id, name, email, phone, address },
                success: function (data, textStatus, jqXHR) {
                    if (data.result == "ok") {
                        location = "/customer";
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Unable to connect remote server..");
                }
            });
        }
    </script>
    <h1>
        <%= title %>
    </h1>
    <form>
        <input id="name" type="" name="" placeholder="Name" value="<%= customer.name %>"><br /><br />
        <input id="email" type="" name="" placeholder="Email" value="<%= customer.email %>"><br /><br />
        <input id="phone" type="" name="" placeholder="Phone" value="<%= customer.phone %>"><br /><br />
        <input id="address" type="" name="" placeholder="Address" value="<%= customer.address %>"><br /><br />
        <input type="button" value="Update" name="" onclick="updateCustomer()"><br /><br />
    </form>
</body>

</html>